@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #2c3e50;
}
.btns-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.btn{
    color: #6934db;
    padding: 10px 20px;
    border: 2px solid #6934db;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
}
.selected{
    background-color: #6934db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
}


.courses-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 90%;
    padding: 20px;
    gap: 20px;
}

.course {
     overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 20px;
    width: 400px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 700;
    color: #6934db;
}

.img{
    width: 100%;
    height: 200px;
    background: gray;
    border-radius: 5px;
    margin-bottom: 20px;
    object-fit: cover;
}